nav {
    background-color: #b90000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    z-index: 999;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;

}

nav img {
    margin-left: 20px;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
    color: white;
}

nav ul li button {
    width: 150px;
    color: #b90000;
    border-radius: 999vh;
    border: 5px solid white;
    font-size: 22px;
    height: 50px;
}

nav ul li button:hover {
    background-color: #b90000;
    color: white;
    border: 1px solid white;
    transition: 0.05s;
}

.hero {
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../assets/hero.jpg);
    background-size: cover;
}

.hero .text-content {
    color: white;
    text-align: center;
}

.hero .text-content h1 {
    font-size: 80px;
    margin-bottom: 15px
}

.hero .text-content h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.hero .text-content button {
    width: 250px;
    background-color: #b90000;
    color: white;
    border-radius: 90vh;
    font-size: 20px;
    height: 50px;
    border: 1px solid #b90000;
}

.hero .text-content button:hover {
    background-color: white;
    color: #b90000;
    border: 1px solid white;
    transition: 0.05s;
}

.beneficios h2 {
    color: rgba(31, 30, 30, 0.75);
    font-size: 55px;
    font-weight: bold;
    font-family: "Verdana";
    margin-top: 5%;
}

.beneficios .item {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
}

.beneficios .item .itemPhoto {
    display: flex;
    justify-content: left;
}

.beneficios .item .itemPhoto .imgItem {
    width: 60vh;
    height: auto;
}

.beneficios .item .item-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: right;
    width: 60%;
    font-size: 18px;
    word-spacing: 4px;
    line-height: 30px;
}

.beneficios .item .item-text h3 {
    color: #b90000;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Verdana";
}

/*--------------*/
.beneficios .item2 {
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}

.beneficios .item2 .itemPhoto2 {
    margin-right: 5%;
    display: flex;
    justify-content: right;

}

.beneficios .item2 .itemPhoto2 .imgItem2 {
    width: 400px;
    height: 300px;
}

.beneficios .item2 .item-text2 {
    flex-direction: column;
    text-align: center;
    justify-content: left;
    width: 50%;
    font-size: 18px;
    word-spacing: 6px;
    line-height: 35px;
    padding: 5vh;
}

.beneficios .item2 .item-text2 h3 {
    color: #b90000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Verdana";
    height: 30px;
}

/*------------*/
.beneficios .item3 {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.beneficios .item3 .itemPhoto3 {
    display: flex;
    justify-content: left;
    margin: 20vh;
}

.beneficios .item3 .itemPhoto3 .imgItem3 {
    width: 300px;
    height: 400px;
}

.beneficios .item3 .item-text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 18px;
    word-spacing: 4px;
    line-height: 30px;
    padding: 15vh;
}

.beneficios .item3 .item-text3 h3 {
    color: #b90000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Verdana";
    height: 30px;
}

.clients {
    min-width: 90vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(185, 0, 0, 0.4), rgba(255, 255, 255, 1));
}

.clients .text {
    text-align: left;
}

.clients .text h2 {
    font-weight:bolder;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.clients .text p {
    font-size: 6rem;
}

/*-----------------------*/
.clients .containerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0px 50px 0px 50px; 
}

.clients .containerCards .left{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: flex-end;
}

.clients .containerCards .left .vertical{
    margin-top: 20px;
    width: 300px;
    height: 500px;
    margin-right: 75px;
}

.clients .containerCards .rigth{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.clients .containerCards .rigth .horizontal{
    width: 400px;
    height: 280px;
}

.clients .containerCards .rigth .retangular{
    margin-top: 20px;
    width: 330px;
    height: 250px;
}

.clients .containerCards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 20px 5px 30px;
    box-shadow: 2px 2px 6px 2px rgb(0, 0, 0.4);
    min-width: 200px;
    border-radius: 10px;
    text-align: left;
}

.clients .containerCards .card .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.clients .containerCards .card .cardContent .person .image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100px;
}

.clients .containerCards .card .cardContent .person .text-content {
    margin-left: 40px;
}

.clients .containerCards .card .cardContent .person .text-content h4 {
    font-size:1.3rem;
    font-weight: bold;
}

.clients .containerCards .card .cardContent .person .text-content span {
    font-size: 0.8rem;
    color: grey;
    
}

.clients .containerCards .card .cardContent .person {
    display: flex;
    align-items: center;
    padding: 30px;
}

.clients .containerCards .card h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    color: #b90000;
}

.clients .containerCards .card q {
    font-size: 1rem;
    line-height: 1.7rem;
    position: relative;
    padding-left: 30px;
}

.clients .containerCards .card q::before {
    content: "''";
    font-family: "ABeeZee", serif;
    font-size: italic;
    font-size: 5rem;
    position: absolute ;
    left: -18px;
    top: 3px;
    color: rgba(185, 0, 0, 0.4)
}

.conheca {
    height: 80vh;
}

.conheca .text-content{
    margin: 30px 0px 80px 0;
    text-align: center;
}

.conheca .text-content h2{
    font-size: 3rem;
    font-weight: bolder;
}

.conheca .text-content p{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.conheca .cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 90px;
}

.conheca .cards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 20px 10px 30px;
    box-shadow: 2px 2px 6px 2px rgb(0, 0, 0.4);
    border-radius: 10px;
    text-align: left;
    min-width: 300px;
    height: 200px;
}

.conheca .cards .card .cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conheca .cards .card .cardContent h3{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.fotos .text-content {
    margin: 0px 0px 80px 0px;
    text-align: center;
}

.fotos .text-content h2 {
    font-size: 3rem;
    font-weight: bolder;
}

.fotos .listPhotos{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.fotos .listPhotos .gymPhoto {
    height: auto;
    width: 33%;
}

.contato .text-content{
    margin: 0px 0px 80px 0px;
    text-align: center;
}

.contato .text-content h2{
    font-size: 3rem;
    font-weight: bolder;
}